/* Стилизация кнопки */

/*display: inline-block;*/


:root {
    --width-primary: 182px;
    --height-primary: 48px;
}

.button {
    width: var(--width-primary);
    height: var(--height-primary);
    border-radius: 8px;
    display:inline-block;
}

.default_primary {
    background: #4263EB;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}

.default_secondary {
    background: #7048E8;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}

.default_alternate {
    background: #ffffff;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
}

.hover_primary {
    background: #2342C0;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}
.hover_secondary {
    background: #5028C6;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}
.hover_alternate {
    background: #ffffff;
    border: 1px solid #212429;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
}
.disable_primary {
    background: #4263EB;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 50%;
}
.disable_secondary {
    background: #7048E8;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 50%;
}
.disable_alternate {
    background: #ffffff;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    opacity: 50%;
}

.button__disable {
    pointer-events: none !important;
}