.card {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 25px;  
    height: 367px; 
    flex-basis: 350px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}
.card__top {
    
}
.card__body {
    padding-top: 24px;  
}
.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .card {
        padding: 0; 
        display: grid;  
        grid-template-rows: 1fr auto;
    }

    .card__top {
        padding: 10px;
    }

    .card__body {
        padding: 12px 10px 10px;
        border-top: var(--grey-2) solid 1px;
    }

    .card__title {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
}