/* Стилизация аккордеона */
.accordion{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }
  
.accordion__item{
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    min-height: 72px;
    margin-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px; 
}

.accordion__summary{
    display: flex;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--black);
}

.accordion__text{
    padding-bottom: 32px;
    color: var( --grey-4);
}

.accordion__item:last-child{
    margin-bottom: 0px;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}
  
