.components {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: grid;
    gap: 56px;
    grid-template-columns: 20.6% 1fr;
    padding-top: 36px;
  }
  
.components__nav-name {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 16px;
  }
  
.components__list {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
  }
  
.components__item:last-child {
    margin-top: 32px;
  }
  
.components__link--active {
    color: var(--red);
  }
  
.components__block {
    min-height: 700px;
    padding: 28px 32px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px var(--box-shadow);
    border-radius: 12px;
  }
  
.components__name {
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
    margin-bottom: 24px;
  }
  

.components__footer {
    padding: 56px 0;
    background-color: var(--grey-6);
  }
  
.components__footer-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3); 
    text-align: center;
  } 

.components__header {
    background-color: var(--white);
    min-height: 82px;
  } 

