@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --width-primary: 182px;
    --height-primary: 48px;
    --color-primary: #4263EB;
}

.button {
    width: var(--width-primary);
    height: var(--height-primary);
    border-radius: 8px;
    display:inline-block;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}

.button_primary:hover {
    cursor: pointer;
}
.button_secondary:hover {
    cursor: pointer;
}
.button_alternate:hover {
    cursor: pointer;
}


.button_primary {
    background-color: var(--color-primary);
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}

.button_secondary {
    background: #7048E8;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}

.button_alternate {
    background: #ffffff;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
}
/*
.hover_primary {
    background: #2342C0;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}
.hover_secondary {
    background: #5028C6;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
}
.hover_alternate {
    background: #ffffff;
    border: 1px solid #212429;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
}
.disable_primary {
    background: #4263EB;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 50%;
}
.disable_secondary {
    background: #7048E8;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 50%;
}
.disable_alternate {
    background: #ffffff;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    font: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 19px;
    opacity: 50%;
}
*/
.button__disable {
    pointer-events: none !important;
}