@import 'reset.css';
@import '../fonts/fonts.css';

@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../components/preview/preview.css';
@import '../../components/template-page/template-page.css';
@import '../../components/menu/menu.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --blue-2: #2342C0;
    --purple-2: #5028C6;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --width-primary: 182px;
    --height-primary: 48px;

    --histogram-width: 354px;
}
* {
    font-family: 'Inter', sans-serif;
}

.page {
    background: #f9fafc;
}
body {
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
}
main {
    min-height: 400px;
    background: #F9FAFC;
}