    .radio{
    display: inline-block;
    position: relative;
    }

    .radio__input{
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    outline: none;
    }

    .radio__state{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    }

    .radio__control{
    width: 28px;
    height: 28px;
    color: var(--white);
    box-sizing: border-box;
    outline: 1px solid var(--grey-3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .radio__title{
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    }

    .radio__input:checked ~ .radio__state .radio__control{
        background: var(--primary);
        border: 2px solid var(--white);
        outline: 2px solid var(--primary);
    }

    .radio__input:focus ~ .radio__state .radio__title{
        border-bottom-color: var(--grey-2);
    }

    .radio__input:disabled ~ .radio__state .radio__control{
        background: var(--grey-2);
        outline: 2px solid var(--grey-2);
    }

    .radio__input:disabled ~ .radio__state .radio__title{
        color: var(--grey-2);
    }

    .radio__input:disabled ~ .radio__state{
        cursor: auto;
    } 