.container {
    width:auto;
    padding: 24px 40px 32px 24px;
  }
  
  .skeleton__content {
    width: initial;
  }

.skeleton {
    padding: 32px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
  }
  
  .skeleton__line {
    height: 20px;
    background: var(--grey-2);
  }
  
  .skeleton__content-inner {
    width: 66%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .skeleton__avatar {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background-color: var(--grey-2);
    border-radius: 50%;
  }
  
  .skeleton__info {
    width: 77%;
  }
  
  .skeleton__line-short {
    width: 67%;
    margin-bottom: 8px;
  }
  
  .skeleton__line-long {
    width: 87%;
  }
  
  .skeleton__content-line-text {
    width: 100%;
    margin-bottom: 8px;
  }
  
  .skeleton__content-line-text:last-child {
    margin-bottom: 0;
  }