html, body {
  height: 100%;
}

body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 399px) {
  body {
    background-image: url("public/forest_400.jpg");
  }
}

@media (min-width: 400px) {
  body {
    background-image: url("public/forest_768.jpg");
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("public/forest_1024.jpg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("public/forest_2560.jpg");
  }
}